*{
  margin: 0;
  padding: 0;
 font-family: sans-serif;
  box-sizing: border-box;
 
}
header{
  height: 100vh;
  width: 100%;
  background-image: url(image/img/header-bg.png);
  background-size: cover;
}
nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}
.nav-left{
  font-size: 2em;
  padding-left: 40px;
  color: white;

}
.nav-left:hover{

 color: crimson;
 
}
.nav-right a{
  text-decoration: none;
  padding-right: 10px;
  font-size: 1.2em;
  color: white;
  margin:30px;
  transition: 1s;
}
.nav-right a:hover{
  box-shadow: 0 10px 18px white;
  border-radius: 5px;
}

.nav-right .contact-us{
  background-color: crimson;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.nav-right .contact-us:hover{
  border: 2px solid crimson;
  border-radius: 10px;
  padding: 5px;
}
.h-txt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-bottom: 150px;
  transition: 1s;
}
.h-txt p{
  color: white;
  font-size: 1.4em;

  text-align: center;
  
}
.line{
  height: 4px;
  width: 150px;
  background-color: crimson;
  margin: 10px auto;
  border-radius: 5px;
}
.h-txt h1{
  color: white;
  font-size: 4em;

  text-transform: uppercase;

}
.h-txt a{
  text-decoration: none;
  background-color: crimson;
  padding: 10px 20px;
  letter-spacing: 5px;
  transition: 0.4s linear;
  border-radius: 10px;
  color: white;
}
.h-txt a:hover{

  border: 2px solid crimson;
  border-radius: 10px;


}

.content h1{
  text-align: center;
  margin-top: 10px;
  color: blue;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;

}
.card{
  background-color: white;
  width: 600px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  text-align: center;

}
.card-img{
  width: 100%;
  border-radius: 0.5rem;

}
.title{
  text-align: center;
 padding-top: 15px;
  color: blue;
  font-weight: 600;
}
.info{
  padding: 25px 0;
}
.card a{
  text-decoration: none;
  text-align: center;
  background-color: crimson;
  border-radius: 0.4rem;
  padding: 10px 20px;
  color: white;
  letter-spacing: 2px;
  
}
.explore{
  height: 100vh;
  width: 100%;
  background-image: url(image/img/bg2.png);
  background-size: cover;
  border-radius: 0.5rem;
 position: relative;
 padding: 1rem;
 margin-left: 1.5rem;
 margin-top: 1rem;
 text-align: center; 

}
.explore-world{
   position: absolute;
   top: 40%;
   left: 10%;
}
.explore-world h1{
  font-size: 3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;

}
.explore-world p{
  color: white;
}
.explore-world a{
  text-decoration: none;
  text-align: center;
  background-color: crimson;
  border-radius: 0.4rem;
  padding: 10px 20px;
  color: white;
  letter-spacing: 2px;

}
.tour{
  position:relative;

}
.content .boxes .card{
    width: 50%;
}
/* .card .place img{
  margin-top: 2px;
} */

.place img{
  width: 250px;
  margin: 10px;
}
.content .place{
  display: flex;
  flex-wrap: wrap;

}